.titrePage
{
	color:#F0FDB2;
	width: 100%;
}

.body
{
	color:#F0FDB2;
}

.valeur
{
	width: 100%;
	max-width: 280px;
	color:black;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
}

.centre
{
	margin-top: 20px;
	margin-left: 100px;
	color:black;
	margin-bottom: 629px;
}

.upmarg
{
	margin-top: 50px;
}

.btncentre
{
	margin-left: 80px;
	color:black;
	margin-bottom: 568px;
}


.com{
width: 100%;
max-width: 470px;
height: 50px;
border-radius: 5px;
margin-right: 10px;
display: inline;
}

.send {
	float: left;
	display: block;
	width: 100%;
	max-width: 100px;
border-radius: 5px;
background: #95C1EE;
border-color: #03BDE4;
clear: both;
}

#MonthEvent
{
	text-align: right;
	margin-top: 30px;
	margin-left: 15px;
}

.top
{
	margin-top: 90px;
	color: black;
	background: yellow;
	border-color: black;
	margin-left: 50px;
	margin-bottom: 438px;
}

.bouton
{
	color: black;
	margin-left: 100px;
	margin-top: 20px;
}

.add
{
	background: orange;
	border-radius: 5px;
	border-color: tomato;
	float: right;
	margin-top: 250px;
}

.xRight
{
	float: right;
	margin-top: 250px;
	color: white;
}

.nop
{
	background: none;
	border: none;
	color: gray;
}
.suppr
{
  padding-bottom: 5px;
}